.content_left {
    width: 306px;
    z-index: 99;
    float: left;
    box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    .content_left_scroll {
        padding-bottom: 130px;
        position: relative;
        width: 306px;
        float: left;
        height: 100%;
        .logo {
            float: left;
            width: 100%;
            margin: 40px 0 55px 28px;
            text-decoration: none;
            img {
                float: left;
                width: 32px;
                margin: 3px 12px 0 0;
                -webkit-animation: rotate-scale-up 1.95s linear both 2;
                animation: rotate-scale-up 1.95s linear both 2;
                // animation-iteration-count: 5;
            }
            strong {
                float: left;
                line-height: 39px;
                font-size: 26px;
                font-weight: 600;
                letter-spacing: 0.26px;
                color: #000;
            }
            sub {
                float: left;
                line-height: 15px;
                font-size: 10px;
                font-weight: 500;
                letter-spacing: -0.1px;
                color: #838383;
                margin: 14px 0 0 5px;
            }
        }
        .menu_left {
            float: left;
            width: 100%;
            padding: 0 28px;
            box-sizing: border-box;
            margin: 0;
            list-style: none;
            box-sizing: border-box;
            li {
                float: left;
                width: 100%;
                margin: 0 0 26px;
                a {
                    float: left;
                    width: 100%;
                    position: relative;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: -0.14px;
                    color: #9197b3;
                    line-height: 21px;
                    padding: 13px 32px 12px 50px;
                    text-decoration: none;
                    text-align: left;
                    border-radius: 8px;
                    box-sizing: border-box;
                    &:hover{
                        background-color: #5932ea;
                        color: #fff;
                        svg {
                            &.stroke {
                                stroke: #fff;
                            }
                            &.fill {
                                fill: #fff;
                            }
                            &.stroke_fill {
                                path {
                                    &:nth-of-type(1) {
                                        fill: #fff;
                                    }
                                    &:nth-of-type(2) {
                                        stroke: #fff;
                                    }
                                    &:nth-of-type(3) {
                                        fill: #fff;
                                    }
                                }
                            }
                        }
                    }
                    &.active{
                        background-color: #5932ea;
                        color: #fff;
                        svg {
                            &.stroke {
                                stroke: #fff;
                            }
                            &.fill {
                                fill: #fff;
                            }
                            &.stroke_fill {
                                path {
                                    &:nth-of-type(1) {
                                        fill: #fff;
                                    }
                                    &:nth-of-type(2) {
                                        stroke: #fff;
                                    }
                                    &:nth-of-type(3) {
                                        fill: #fff;
                                    }
                                }
                            }
                        }
                    }
                    svg {
                        position: absolute;
                        top: 11px;
                        left: 11px;
                        width: 24px;
                        &.stroke {
                            stroke: #9197b3;
                        }
                        &.fill {
                            fill: #9197b3;
                        }
                        &.stroke_fill {
                            path {
                                &:nth-of-type(1) {
                                    fill: #9197b3;
                                }
                                &:nth-of-type(2) {
                                    stroke: #9197b3;
                                }
                                &:nth-of-type(3) {
                                    fill: #9197b3;
                                }
                            }
                        }
                    }
                }
                &.nav-sub-menu {
                    a {
                        &::after {
                            position: absolute;
                            top: 19px;
                            right: 17px;
                            content: "";
                            border: solid #9197b3;
                            border-width: 0 2px 2px 0;
                            padding: 3px;
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
        .user {
            position: absolute;
            bottom: 75px;
            left: 28px;
            padding-left: 54px;
            line-height: 18px;
            font-size: 12px;
            letter-spacing: 0.12px;
            text-align: left;
            color: #757575;
            .img {
                position: absolute;
                top: 0;
                left: 0;
                width: 42px;
                height: 42px;
                border-radius: 21px;
                overflow: hidden;
                text-align: center;
                img {
                    height: 100%;
                }
            }
            strong {
                display: inline-block;
                width: 100%;
                line-height: 21px;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0.14px;
                color: #000;
            }
        }
    }
   
}

@media only screen and (max-width: 1200px) {
    .content_left {
        position: fixed;
        width: 60px;
        overflow: hidden;
        transition: all 200ms linear;
        .content_left_scroll {
            padding-bottom: 60px;
            .logo {
                margin: 20px 0 30px 15px;
            }
            .menu_left {
                padding: 0 7px;
                width: 60px;
                li {
                    width: 46px;
                    overflow: hidden;
                    margin: 0 0 16px;
                    border-radius: 8px;
                }
            }
            .user {
                bottom: 20px;
                left: 15px;
                padding-left: 45px;
                line-height: 14px;
                .img {
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                }
                strong {
                    line-height: 16px;
                }
            }
        }
        &:hover {
            width: 280px;
            transition: all 200ms linear;
            .content_left_scroll {
                width: 280px;
                .menu_left {
                    transition: all 100ms linear;
                    width: 100%;
                    li {
                        width: 100%;
                        transition: all 100ms linear;
                    }
                }
            }
        }
    }
}